{% include "base.html.twig" %}

   {% include "shared/header.html.twig" %}




    {% block body %}

   {% include "shared/selectcatall.html.twig" %}


      <div class="flexcat">
      {% for categorie in categories %}
        <div class="cardcat">
            <img src='images/{{categorie.image}}' alt="{{categorie.image}}">
              <p>{{categorie.name}}</p>
        </div>
        </a>
      {% endfor %}
</div>
{% endblock %}

    {% include "shared/footer.html.twig" %}


