{% include "base.html.twig" %}

   {% include "shared/header.html.twig" %}

    {% block body %}
        {{ form_start(form) }}
            {{ form_rest(form) }}
                <button class="">Publier</button>
            {{ form_end(form) }}


{% endblock %}

    {% include "shared/footer.html.twig" %}
