    
    <center class="selectcatall">
      <a href="{{path('home')}}" class="{{ app.request.pathinfo == path('home') ? 'active' : '' }}">catégorie</a>
      <a href="{{path('homeallpublication')}}" class="{{ app.request.pathinfo == path('homeallpublication') ? 'active' : '' }}">TOUT</a>
    </center>