{% extends 'base.html.twig' %}




{% block body %}

{% include "shared/header.html.twig" %}
    <div class="profil">
        <img class="imgprofil" src={{ user.imgProfil }} alt="">
        <p class="fistletterupper pseudouser">{{user.pseudo}}</p>
    </div>

    <div class="block mb20">

    <div class="descrpitonuser">
    <p class="descriptionprofils">Description</p>
        <p class="userdescription">{{user.description }}</p>
    </div>

        <p class="mespublication">Publications</p>
        <div class="mespubimg">
            {% for publication in user.publications %}
                <img src='{{publication.image}}' alt="">
            {% endfor %}
        </div>

    </div>

    
{% include "shared/footer.html.twig" %}

{% endblock %}

    