{% extends 'base.html.twig' %}




{% block body %}

{% include "shared/header.html.twig" %}
    <div class="profil">
        <img class="imgprofil" src={{ categorie.image }} alt="">
        <p>{{categorie.name}}</p>
    </div>

    <div class="block mb20">
        <h3>publications</h3>
        <ul>
            {% for categorie in categorie.publications %}
                <li>{{ publication.title }}</li>
                <img src='publication/{{publication.image}}' alt="">
            {% endfor %}
        </ul>
    </div>

    
{% include "shared/footer.html.twig" %}

{% endblock %}
